body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fafc;
  margin-top: 20px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: left;
  width: 130px;
  margin-top: 600px;
  padding-top: 100px;
  clear: both;
  }

p {
  clear: both;
}

/* Horizontal navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline-block;
}

li a {
  padding: 8px;
  color: #69696a;
  text-decoration: none;
}

.chirpus {
  color:#000;
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
}

.hire a {
  background-color: #000;
  color: #f9fafc;
  border-radius: 30px;
  padding: 10px 25px;
}

/* Misc Text */
.words {
  color: #69696a;
  border-left: 5px solid #69696a;
  padding-left: 7px;
  text-align: left;
  float: left;
  width: 500px;
}


/* Circles */
#circlePink {
  border-radius: 250px;
  background-color: rgba(247, 136, 167, 0.6);
  width:250px;
  height: 250px;
  position: absolute;
  right: 0px;
  margin-right: 150px;
  display: inline;
}

#circlePurple {
  border-radius: 150px;
  background-color: rgba(207, 130, 213, 0.6);
  width:150px;
  height: 150px;
  position: absolute;
  right: 0px;
  margin-right: 50px;
  display: inline;
}

#circleYellow {
  border-radius: 200px;
  background-color: rgba(247, 193, 162, 0.6);
  width:200px;
  height: 200px;
  position: absolute;
  right: 0px;
  margin-right: 75px;
  margin-top: 100px;
  display: inline;
}

footer a {
  background-color: #000;
  color: #f9fafc;
  border-radius: 30px;
  padding: 10px 25px;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 400px;
  clear: both;
}
